<?xml version="1.0" encoding="UTF-8"?>
<suite  name="nop commerce Regression Suite">
<parameter name="browser" value ="Chrome"></parameter>
  <test name="Regression Test">
    <classes>
      <class name="tests.UserRegisteration_Test"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
